In [1]:
import pandas as pd

In [12]:
# url = 'https://data.nsw.gov.au/data/dataset/f7cba3fc-6e9b-4b8b-b1fd-e7dda9b49001/resource/54d2df2f-44ae-4d67-980f-ce855d68f2d5/download/apprenticeship_traineeship_training_contract_approvals-1.xlsx'
# url = "https://data.nsw.gov.au/data/dataset/f7cba3fc-6e9b-4b8b-b1fd-e7dda9b49001/resource/e969d98e-d89a-474b-b89b-9452f1e45644/download/apprenticeship_traineeship_training_contract_completions.xlsx"
url = "https://data.nsw.gov.au/data/dataset/f7cba3fc-6e9b-4b8b-b1fd-e7dda9b49001/resource/fe7169bf-32ba-433b-8354-eb9ef5477eaa/download/apprenticeship_traineeship_training_contract_in-trainings.xlsx"

In [13]:
df = pd.read_excel(url, sheet_name="Training Type", header=3)

In [14]:
df.head()

,Unnamed: 0,Training Type,Number of Training Contract,Number of Women in Non-Traditional Trade,% of Women in Non-Traditional Trade
0,NaN,Apprenticeship,"67,691",3431,0.050686
1,NaN,Existing Worker Traineeship,"2,699",NaN,NaN
2,NaN,New Entrant Traineeship,"33,048",<5,0.000030

In [7]:
df.shape

(2214, 14)