In [11]:
import pandas as pd
import dagstermill

In [12]:
context = dagstermill.get_context(op_config=3)

In [13]:
# this cell has been tagged with "parameters"

# Having the iris fetching code in the parameters cell allows dagster to overwrite this cell and replace
# it with the contents of the upstream iris_dataset asset. If you want to run the notebook locally, this
# cell will remain, which allows you to fetch the dataset directly.


def iris_dataset() -> pd.DataFrame:
    return pd.read_csv(
        "https://docs.dagster.io/assets/iris.csv",
        names=[
            "sepal_length_cm",
            "sepal_width_cm",
            "petal_length_cm",
            "petal_width_cm",
            "species",
        ],
    )

metrics_by_year_school_saved_query =  iris_dataset()

In [14]:
# Descriptive analysis

In [15]:
metrics_by_year_school_saved_query.head()

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,species
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa