In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import dagstermill
from dagster import AssetKey

from orchestration.pipeline_nsw_doe import defs

In [3]:
context = dagstermill.get_context(op_config=3)

In [4]:
df = defs.load_asset_value(AssetKey(['analytics','metrics_by_year_school_saved_query']))
df

,metric_time__year,school__school_name,school__latest_year_enrolment_fte,school__level_of_schooling,school__icsea_value,school__indigenous_pct,school__selective_school,school__school_specialty_type,funding_aud_post_adjustments,funding_aud_original,funding_aud_post_adjustments_prev_year
0,2024-01-01,Albion Park Public School,490.0,Primary School,977.0,11.0,Not Selective,Comprehensive,NaN,685082.0,695548.0
1,2024-01-01,Arcadia Public School,71.0,Primary School,1058.0,np,Not Selective,Comprehensive,NaN,68533.0,75837.0
2,2024-01-01,Auburn North Public School,637.0,Primary School,1007.0,0.0,Not Selective,Comprehensive,NaN,1317605.0,1491270.0
3,2024-01-01,Barooga Public School,89.0,Primary School,972.0,np,Not Selective,Comprehensive,NaN,141741.0,182176.0
4,2024-01-01,Barrington Public School,53.0,Primary School,991.0,15.0,Not Selective,Comprehensive,NaN,82946.0,82935.0
...,...,...,...,...,...,...,...,...,...,...,...
15396,2025-01-01,Cronulla High School,1239.0,Secondary School,1048.0,3.0,Not Selective,Comprehensive,NaN,NaN,NaN
15397,2025-01-01,Boambee Public School,349.0,Primary School,1003.0,12.0,Not Selective,Comprehensive,NaN,NaN,NaN
15398,2025-01-01,Camden Public School,310.0,Primary School,1040.0,5.0,Not Selective,Comprehensive,NaN,NaN,NaN
15399,2025-01-01,Tallawong Public School,NaN,Primary School,NaN,None,Not Selective,Comprehensive,NaN,NaN,NaN
15400,2025-01-01,Marayong South Public School,296.0,Primary School,1010.0,9.0,Not Selective,Comprehensive,NaN,NaN,NaN